@model TasksToEmail.Models.Email
@{
    ViewData["Title"] = "Email";
}

<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
    <form action="Email" method="post">
        <input type="hidden" name="arg"
               value="@Model.Assunto.Split(' ')[1]" />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Destinatários</span>
                <input type="text" id="@Html.DisplayNameFor(model => model.Destinatario)"
                       name="@Html.DisplayNameFor(model => model.Destinatario)"
                       class="form-control" aria-describedby="inputGroup-sizing-default" style="min-width:140%;">
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Remetente</span>
                <input type="text" id="@Html.DisplayNameFor(model => model.Remetente)"
                       name="@Html.DisplayNameFor(model => model.Remetente)"
                       class="form-control" aria-describedby="inputGroup-sizing-default" style="min-width:140%;">
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Assunto</span>
                <input type="text" id="@Html.DisplayNameFor(model => model.Assunto)"
                       name="@Html.DisplayNameFor(model => model.Assunto)"
                       class="form-control"
                       aria-describedby="inputGroup-sizing-default" style="min-width:170%;" value="@Model.Assunto">
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">Corpo do Email</span>
        </div>

        <textarea id="@Html.DisplayNameFor(model => model.CorpoDoEmail)"
                  name="@Html.DisplayNameFor(model => model.CorpoDoEmail)"
                  class="form-control" rows="8" style="min-width:80%;">@Model.CorpoDoEmail</textarea>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-outline-secondary" />
                @Html.ActionLink("Voltar para lista", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-secondary" })
            </div>
        }
    </form>
</div>